<form class="note-editor" ng-submit="$ctrl.onSave()">
  <div class="form-row">
    <div class="form-label">
      <label for="inp-title">Title</label>
    </div>
    <div class="form-input">
      <input class="app-input" type="text" id="inp-title" ng-model="$ctrl.model.title" placeholder="Enter note title">
    </div>
  </div>
  <div class="form-row">
    <div class="form-label">
      <label for="inp-content">Content</label>
    </div>
    <div class="form-input">
      <textarea required class="app-area" name="" id="inp-content" cols="30" rows="10" placeholder="Enter note content"
        ng-model="$ctrl.model.content"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-label">
      <label>Select color</label>
    </div>
    <div class="form-input">
      <app-colors selected-color="$ctrl.model.color" on-change="$ctrl.changeColor(color)"></app-colors>
    </div>
  </div>
  <div class="form-row">
    <button class="app-button" ng-click="$ctrl.onCancel()">Cancel</button>
    <button class="app-button" type="submit">Save</button>
  </div>
</form>
