.note-editor {
  font-family: 'Montserrat';
  .form-row {
    width: 100%;
    .form-label {
      margin-bottom: 0.5rem;
    }
    .form-input {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
