<nav class="app-nav">
  <div>{{$ctrl.appName}}</div>
  <div class="menu-center-block">
    <div class="app-nav-title" ng-if="$ctrl.titleText">{{$ctrl.titleText}}</div>
    <div class="search" ng-if="!$ctrl.titleText">
      <input class="app-input" ng-model="$ctrl.search" ng-change="$ctrl.change($event)" type="text"
        placeholder="Serach note">
      <i ng-if="$ctrl.search" ng-click="$ctrl.clear()" class="las la-backspace"></i>
    </div>
  </div>
  <div>
    <a href="#!/add-note" title="Add new note" class="add-btn">
      <i class="las la-plus-circle"></i>
    </a>
  </div>
</nav>
